.textures-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.textures-type {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
}

.textures-type,
.textures-canvas {
  width: 25%;
}

@media (max-width: 512px) {
  .textures-container {
    flex-direction: column;
  }

  .textures-type,
  .textures-canvas {
    width: 100%;
  }

  .textures-canvas {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
